<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="review">
		
	<!-- 리뷰 -->
	<select id="review" resultType="ReviewVO">
		<![CDATA[SELECT * FROM review ORDER BY prod_id DESC;]]>
	</select>
	
	<select id="findReview" resultType="_int">
		<![CDATA[SELECT num FROM review WHERE user_id=#{id}]]>
	</select>
	
	<insert id="insertReview">
		<![CDATA[INSERT INTO review (num, prod_id, prod_name, user_id, star, title, content) VALUES (#{num}, #{prod_id}, #{prod_name}, #{user_id}, #{star}, #{title}, #{content})]]>
	</insert>
	
	<select id="cnt5star" parameterType="productVO" resultType="int">
		<![CDATA[SELECT count(*) from review where prod_id= #{id} and ceiling(star) = 5 
		]]>
	</select>
	<select id="cnt4star" parameterType="productVO" resultType="int">
		<![CDATA[SELECT count(*) from review where prod_id= #{id} and ceiling(star) = 4 
		]]>
	</select>
	<select id="cnt3star" parameterType="productVO" resultType="int">
		<![CDATA[SELECT count(*) from review where prod_id= #{id} and ceiling(star) = 3 
		]]>
	</select>
	<select id="cnt2star" parameterType="productVO" resultType="int">
		<![CDATA[SELECT count(*) from review where prod_id= #{id} and ceiling(star) = 2 
		]]>
	</select>
	<select id="cnt1star" parameterType="productVO" resultType="int">
		<![CDATA[SELECT count(*) from review where prod_id= #{id} and ceiling(star) = 1 
		]]>
	</select>
	<select id="cntreview" parameterType="productVO" resultType="int">
		<![CDATA[SELECT count(*) from review where prod_id= #{id} 
		]]>
	</select>
	<select id="avgreview" parameterType="productVO" resultType="double">
		<![CDATA[select avg(ceiling(star)) from review where prod_id = #{id};
		]]>
	</select>
	<insert id="Insert_like_review" parameterType="ReviewlikeVO">
		<![CDATA[
		INSERT INTO review_like(num,id,review_like.like) values(#{num},#{id},#{like});
		]]>
	</insert>
	
	<select id="getreviewlist" parameterType="productVO" resultType="ReviewVO">
		<![CDATA[
			select * from review where prod_id =#{id}
			order by regdate desc;
		]]>
	</select>
	
	<update id="Update_likeCNT" parameterType="ReviewVO">
		<![CDATA[
		update review set review.like = `like`+1 where num = #{num};
		]]>
	</update>
	
	<update id="Update_unlikeCNT" parameterType="ReviewVO">
		<![CDATA[
		update review set review.like = `like`-1 where num = #{num};
		]]>
	</update>
	
	<select id="check_reviewLike" parameterType="ReviewlikeVO" resultType="int">
		<![CDATA[
			select review_like.like from review_like where num= #{num} and id = #{id};
		]]>
	</select>
	
	<select id="checkreviewnum" parameterType="String" resultType="ReviewlikeVO">
		<![CDATA[
			select num,review_like.like from review_like where id = #{id};
		]]>
	</select>
	
	<delete id="delete_reviewlike" parameterType="ReviewlikeVO">
		<![CDATA[
			delete from review_like where num = #{num} and id= #{id}
		]]>
	</delete>
	
	<update id="update_reviewlike" parameterType="ReviewlikeVO">
		<![CDATA[
		update review_like set review_like.like = #{like} where num = #{num} and id = #{id};
		]]>
	</update>
	
	<select id="checkreviewcnt" parameterType="ReviewlikeVO" resultType="int">
		<![CDATA[
			select count(`like`) from review_like where num= #{num} and id = #{id};
		]]>
	</select>
	
	<select id="reviewlist_sort_by_star" parameterType="productVO" resultType="ReviewVO">
		<![CDATA[
			select * from review where prod_id =#{id}
			order by star desc;
		]]>
	</select>
	
	<select id="getcntlike" parameterType="ReviewVO" resultType="ReviewVO">
		<![CDATA[
			select num, `like` from review where num = #{num}
		]]>
	</select>
	
	<update id="Modify_un2likeCNT" parameterType="ReviewVO">
		<![CDATA[
		update review set `like` = `like`+2 where num = #{num};
		]]>
	</update>
	
	<update id="Modify_li2unlikeCNT" parameterType="ReviewVO">
		<![CDATA[
		update review set `like` = `like`-2 where num = #{num};
		]]>
	</update>
	
	<select id="getreviewlike" parameterType="ReviewlikeVO" resultType="ReviewlikeVO">
		<![CDATA[
			select num,id, `like` from review_like where num = #{num} and id = #{id};
		]]>
	</select>
	
</mapper>